.state-photos
	.alert
		text-align: center;
		height: 300px;
		display: flex;
		align-items: center;

	.pagination-nav
		text-align: center;

	img
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;