<div class="container">
	<div class="column-xs-12">
		<form
			name="vm.tagForm"
			ng-submit="vm.submitForm(vm.tagForm.$valid)"
			novalidate
			autocomplete="nope"
			autocomplete="off"
			class="row"
			>
			<div class="form-group col-sm-6"
				ng-class="{
					'has-error':
					(vm.tagForm.tag.$touched ||
					vm.tagForm.$submitted) && vm.tagForm.tag.$invalid
				}">
				<label for="tag">Tag *</label>
				<input type="text" name="tag" class="form-control" placeholder="Tag name"
					ng-model="vm.tag"
					required>

				<div class="help-block"
					ng-messages="vm.tagForm.tag.$error"
					ng-if="vm.tagForm.tag.$touched || vm.tagForm.$submitted"
					>
					<p ng-message="required">Tag field is mandatory.</p>
				</div>
			</div>
			<div class="form-group col-sm-6"
				ng-class="{
					'has-error':
					(vm.tagForm.userId.$touched ||
					vm.tagForm.$submitted) && vm.tagForm.userId.$invalid
				}">
				<label for="userId">User ID</label>
				<input type="text" name="userId" class="form-control" placeholder="Optional filter by flickr user id ex: 45469117@N08"
					ng-model="vm.userId"
					>
			</div>

			<div class="col-xs-12">
				<label>Order by</label>
				<a ng-click="vm.setOrderBy('first_photo.views')" class="btn btn-default">Number of views</a>
				<a ng-click="vm.setOrderBy('first_photo.datetaken')" class="btn btn-default">Date taken</a>
				<a ng-click="vm.setOrderBy('first_photo.dateuploaded')" class="btn btn-default">Date uploaded</a>
				<a ng-click="vm.setOrderBy('first_photo.ownername')" class="btn btn-default">Owner's name</a>

				<button ng-disabled="!vm.tagForm.$valid || vm.loading" class="btn btn-primary pull-right" type="submit">Submit</button>
			</div>
		</form>

		<div class="alert alert-danger" ng-if="vm.serverError">
			{{vm.serverError}}
		</div>

		<div class="results-wrapper row">
			<p ng-if="vm.loading" class="loading">Loading...</p>

			<div ng-repeat="result in vm.global.results | orderBy: vm.orderBy" class="col-md-6">
				<a ui-sref="photos({
						tag: result.search_tag,
						userId: result.user_id || 'anyuser',
						pageNum: 1
					})"
					class="alert alert-info"

					>
					<div class="col">
						<img ng-src="{{result.first_photo.url_q}}">
					</div>

					<div class="col">
						<div>Search tag: <strong>{{result.search_tag}}</strong></div>
						<div>Owners name <strong>{{result.first_photo.ownername}}</strong></div>
						<div>Uploaded date: <strong>{{result.first_photo.dateupload}}</strong></div>
						<div>Taken date: <strong>{{result.first_photo.datetaken}}</strong></div>
						<div>Number of views: <strong>{{result.first_photo.views}}</strong></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>